input[type="checkbox"]:checked {
  color:red;
  text-decoration: "line-through";
} 

/* .strick{
  color:red;
  text-decoration: "line-through";
} */

.card-color{
background-image: linear-gradient(purple, white);
height: 500px;
}
.card-title{
  color: white
}

.todo-list{
  color:white;
}

/* .btn{
  float-right
} */

.float-right{
  
}